comic-panel {
  --border-color: #333;
  --border: 3px solid var(--border-color);
  /* Anime Ace font seems to need more padding below in Safari */
  --text-padding: 0.5rem 0.5rem 0.7rem 0.6rem;
  aspect-ratio: 4 / 3;
  box-sizing: border-box;
  color: #333;
  display: grid;
  display: grid;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  grid-template-rows: auto 1fr;
  max-height: 90svh;
  max-width: 800px;
  overflow: hidden;
  position: relative;
  /* scroll-snap-align: center; */
  width: 100%;

  @media (prefers-color-scheme: dark) {
    --border-color: #666;
  }

  & > * {
    min-width: 0;
  }

  p {
    margin: 0;
    width: 100%;
  }
  
  .faceCircle {
    aspect-ratio: 1; /* not sure why this is necessary height=width */
    /* background: white; */
    background: #ccc;
    border: 2px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    clip-path: circle();
    height: 64px;
    width: 64px;

    .faceContainer {
      border-radius: 50%;
      clip-path: circle();
      height: 60px;
      width: 60px;
      
      .face {
        position: relative;
        
        /* Adjustments for specific SVG positions */
        &[src*="alice"] {
          left: -9px;
          top: 3px;
          width: 84px;
        }
        
        &[src*="bob"] {
          left: -13px;
          top: 4px;
          width: 88px;
        }
      }
    }
  }

  .caption,
  .footnote {
    font-family: "Anime Ace 3", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.1;
  }

  .caption {
    align-items: center;
    display: flex;
    gap: 0.7rem;
    padding: var(--caption-padding);

    /* strong = bold and italic */
    strong {
      font-style: italic;
    }

    /* If face icon is present, show text in speech balloon */
    &:has(.face) {
      padding-bottom: 0.5rem;

      .bubble {
        --bubble-border-color: black;
        --bubble-border-width: 2px;
        align-items: center;
        background: white;
        border: var(--bubble-border-width) solid var(--bubble-border-color);
        border-radius: 0.5rem;
        display: flex;
        position: relative;
      }

      .tail {
        --tail-shift: -5px;
        aspect-ratio: 1;
        background: white;
        border: var(--bubble-border-width) solid var(--bubble-border-color);
        box-sizing: border-box;
        height: 15px;
        position: absolute;
        transform: rotate(45deg);
        width: 15px;
      }

      .speech {
        background: white;
        border-radius: 0.5rem;
        padding: var(--speech-padding, 0.5rem 0.75rem 0.7rem 0.85rem);
        text-wrap: balance;
        z-index: 1;
      }
    }

    /* No face icon */
    &:not(:has(.face)) {
      background: white;
      border-bottom: var(--border);
      box-sizing: border-box;  
      padding: 0.5rem 0.5rem;

      .speech {
        padding-bottom: 0.2rem;
      }
    }
  }

  /* Alternate left/right placement of face and footnote */
  &.even {
    .caption {
      padding-right: 0.5rem;
    }

    .tail {
      left: var(--tail-shift);
    }    
  }

  &.odd {
    &:has(.face) {
      .caption {
        flex-direction: row-reverse;
        padding-left: 0.5rem;
      }

      .tail {
        right: var(--tail-shift);
      }
    }

    .footnoteContainer {
      flex-direction: row;
    }
  }

  /* Non-local effects of face icon presence or absence */
  &:has(.face) {
    /* Face icon present */

    /* Set border on panel contents */
    & > .scene {
      border: var(--border);
    }
  }

  &:not(:has(.face)) {
    /* No face icon present */
    border: var(--border);

    /* Set default background color based on specific scene */
    &:has(comic-graphic) {
      background: black;
    }
    &:has(comic-browser) {
      background: var(--browser-background);
    }
    &:has(comic-editor) {
      background: var(--editor-background);
    }
    &:has(comic-terminal) {
      background: var(--editor-background);
    }
  }

  .footnoteContainer {
    bottom: 1em;
    display: flex;
    flex-direction: row-reverse;
    left: 1em;
    position: absolute;
    right: 1em;
    
    .footnote {
      background: palegoldenrod;
      border: 1px solid #ccc;
      box-shadow: 4px 4px 6px rgba(0,0,0,0.4);
      font-style: italic;
      padding: var(--text-padding);
      
      p {
        text-wrap: balance;
      }
      
      &.long {
        max-width: 50%;
      }
    }
  }
}

/* On narrow screens, make the scene taller */
@container (max-width: 500px) {
  comic-panel {
    aspect-ratio: inherit;
    max-height: none;

    > .scene {
      aspect-ratio: 3/4;
    }
  }
}

/*
Captured PNGs need spacing around the caption so that the balloon and face
circle don't end up touching the edge of the image.

To achieve this, we shift spacing from the speech text to the caption.
*/
.capture comic-panel {
  --caption-padding: 0.5rem;
  --speech-padding: var(--text-padding);
}
