---
pages = parse(pages.yaml):
---
{{#>page}}

{{message}}

{{#each pages}}
{{#each this}}
  <li>
    <a href="{{@key}}">{{this}}</a>
  </li>
{{/each}}
{{/each}}

<div class="markdown-body">
{{{bodyText}}}</div>

{{/page}}
