---
areas = (js%markCurrent)(this, currentArea):
  - href: /
    text: Home
  - href: /interface
    text: Concept
  - href: /core
    text: Core library
  - href: /cli
    text: CLI
  - href: /framework
    text: Framework
  - href: /language
    text: Language
  # - href: blog
  #   text: Blog
  - href: https://github.com/ExplorableGraph/explorable
    text: GitHub
currentArea = (js%pathArea)(path):
currentPage = (js%pathPage)(path):
pages = (js%markCurrent)(parse(pages.yaml), currentPage):
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="/styles/github-subset.css">
    <link rel="stylesheet" href="/styles/github.min.css">
    <link rel="stylesheet" href="/styles/docs.css">
    {{#if title}}
      <title>{{title}}</title>
    {{/if}}
  </head>
  <body{{#if numberHeadings}} class="numberHeadings"{{/if}}>
    <div id="logo">
      <a href="/">ExplorableGraph</a>
    </div>
    <header>
      {{> navBar}}
      {{#if title}}
      <h1>{{title}}</h1>
      {{/if}}
      {{#if subtitle}}
      <p class="subtitle">{{subtitle}}</p>
      {{/if}}
    </header>
    {{> sideBar }}
    <main>
      <div class="markdown-body">
        {{{bodyText}}}
      </div>
    </main>
  </body>
</html>
