---
areas:
  start: Getting Started
  api: API
  blog: Blog
  egret: Egret
---
<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    {{#each areas}}
    <li>
      <a href="/{{@key}}/">{{this}}</a>
    </li>
    {{/each}}
  </ul>
</nav>
