body {
  padding: 1em;
  max-width: 800px;
  margin: 0 auto;
  --color-canvas-subtle: #f6f8fa;
}

pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: var(--color-canvas-subtle);
  border-radius: 6px;
}

pre,
code {
  font-family: "Consolas", "Menlo", "Courier New", "Courier", monospace;
}

.error {
  background: #fff5f7;
  border: 1px solid red;
  margin-bottom: 1em;
  padding: 1em;
  --color-canvas-subtle: transparent;
}

.error pre {
  padding: 0;
  margin: 16px 0 0 0;
}

a.current {
  color: inherit;
  font-weight: bold;
}

.subtitle {
  font-style: italic;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

nav {
  margin-bottom: 2rem;
}
nav a {
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav a + a {
  margin-left: 1em;
}

@media (min-width: 600px) {
  body {
    padding: 4em;
  }
}
