* {
  box-sizing: border-box;
}

/*
 * Body
 */

body {
  counter-reset: h2;
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "sidebar"
    "main";
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: repeat(3, auto);
  padding: 1em;
  max-width: 1000px;
  margin: 0 auto;
  --color-canvas-subtle: #f6f8fa;
}

/*
 * Stock elements
 */

h2 {
  margin-top: 2rem;
}

.numberHeadings h2:before {
  counter-increment: h2;
  content: counter(h2) ". ";
}

.markdown-body > :first-child {
  margin-top: 0;
}

pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: var(--color-canvas-subtle);
  border-radius: 6px;
}

pre,
code {
  font-family: "Consolas", "Menlo", "Courier New", "Courier", monospace;
}

.error {
  background: #fff5f7;
  border: 1px solid red;
  margin-bottom: 1em;
  padding: 1em;
  --color-canvas-subtle: transparent;
}

.error pre {
  padding: 0;
  margin: 16px 0 0 0;
}

a.current {
  color: inherit;
}

.subtitle {
  font-style: italic;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

#logo {
  align-self: start;
  display: none;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

img {
  max-width: 100%;
}

/*
 * Navigation
 */

#navBar {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

#logo a,
nav a {
  text-decoration: none;
}

#logo a:hover,
nav a:hover {
  text-decoration: underline;
}

#sideBar {
  grid-area: sideBar;
  grid-column: 1; /* Baffled as to why this is necessary. */
}

#sideBar li {
  list-style: none;
}

/*
 * Responsive queries
 */

@media (min-width: 800px) {
  body {
    gap: 1rem;
    grid-template-areas:
      "logo header"
      "sideBar main";
    grid-template-columns: 200px minmax(0, 1fr);
    grid-template-rows: auto auto;
  }

  #logo {
    display: inherit;
    grid-area: logo;
  }

  #navBar a[href="/"] {
    display: none;
  }

  #sidebar {
    grid-column: auto;
  }
}

@media (min-width: 1000px) {
  body {
    padding: 2em 4em;
  }
}
