* {
  box-sizing: border-box;
}

html {
  background: #c18b2a;
  background: url(/assets/textureGold.jpeg);
}

/*
 * Body
 */

body {
  counter-reset: h2;
  display: grid;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  /* --color-canvas-subtle: #f6f8fa; */
  --color-canvas-subtle: hsl(47deg 53% 95%);
}

/*
 * Stock elements
 */

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

.numberHeadings h2:before {
  counter-increment: h2;
  content: counter(h2) ". ";
}

.numberHeadings h3:before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3) ". ";
}

.markdown-body > :first-child {
  margin-top: 0;
}

.error {
  background: #fff5f7;
  border: 1px solid red;
  margin-bottom: 1em;
  padding: 1em;
  --color-canvas-subtle: transparent;
}

.error pre {
  padding: 0;
  margin: 16px 0 0 0;
}

a.current {
  color: inherit;
}

.subtitle {
  font-style: italic;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

#logo {
  align-self: start;
  display: none;
}

header {
  align-items: center;
  border-bottom: 1px solid #cfc294;
  color: #222e3e;
  display: grid;
}

img {
  max-width: 100%;
}

blockquote {
  border: none;
  color: inherit;
  padding: 0.5rem 2rem;
}

/*
 * Design elements
 */
#page {
  background: #fafafa;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  max-width: 100%;
  width: 1000px;
  --side-nav-width: 200px;
  --grid-gap: 0.5rem;
  --grid-padding-horizontal: 2rem;
  --grid-padding-vertical: 1rem;
}

#pageContent {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: var(--side-nav-width) 1fr;
  grid-template-rows: auto 1fr;
  padding: var(--grid-padding-vertical) var(--grid-padding-horizontal);
}

img.origami {
  align-self: center;
  margin: 1rem 0;
  max-height: 100px;
  max-width: 90%;
}

.sequence {
  align-items: center;
  aspect-ratio: 1;
  background: black;
  border-radius: 50%;
  color: white;
  display: inline-grid;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

.two-up {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*
 * Code
 */

pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: var(--color-canvas-subtle);
  border-radius: 6px;
}

pre,
code {
  font-family: "Consolas", "Menlo", "Courier New", "Courier", monospace;
}

code.language-console,
code.language-console .hljs-meta {
  color: #333;
  font-weight: normal;
}

code.language-console span {
  color: #222;
  font-weight: bold;
}

/*
 * Navigation
 */

#topNav {
  background: #222e3e;
  background-image: url(/assets/textureIndigo.jpeg);
  box-shadow: 0 0 0.5rem;
  display: grid;
  grid-column: 1 / span 2;
  gap: var(--grid-gap);
  grid-template-columns: var(--side-nav-width) 1fr;
  padding: var(--grid-padding-vertical) var(--grid-padding-horizontal);
}

#topNav a {
  color: #eee;
}

#navBar {
  display: flex;
  gap: 1rem;
}

#topNav a,
nav a {
  text-decoration: none;
}

#topNav a:hover,
nav a:hover {
  text-decoration: underline;
}

#topNav a.current {
  color: white;
  font-weight: bold;
}

#sideBar {
  grid-column: 1; /* Baffled as to why this is necessary. */
}

#sideBar li {
  list-style: none;
  margin-bottom: 0.5rem;
}

/*
 * Responsive queries
 */

@media (min-width: 800px) {
  #page {
    --grid-gap: 1rem;
  }

  #logo {
    display: inherit;
  }

  #navBar a[href="/"],
  #sideBar a[href="/"] {
    display: none;
  }

  #sidebar {
    grid-column: auto;
  }
}

@media (min-width: 1000px) {
  body {
    padding: 2em 4em;
    padding: 0;
  }
}
