@font-face {
  font-family: "Anime Ace 3";
  src: url("/assets/fonts/AnimeAce3BB-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Anime Ace 3";
  src: url("/assets/fonts/AnimeAce3BB-Italic.woff") format("woff");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Anime Ace 3";
  src: url("/assets/fonts/AnimeAce3BB-BoldItalic.woff") format("woff");
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

html {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

body {
  --browser-background: #ccc;
  --terminal-background: #1d2225;
  --editor-background: color-mix(in oklch, var(--terminal-background), var(--editor-color) 10%);
  --editor-color: white;
  --editor-font-family: monospace;
  --selection-transition-speed: 0.25s;
  --window-padding: 0.5rem;

  margin: 0;
  padding: 0;
}

/* :root {
  color-scheme: light dark;  
} */

.comicText {
  font-family: "Anime Ace 3", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.1;
  padding: 0.5rem;
  /* Anime Ace font seems to need more padding below in Safari. We try to strike
  a compromise across all browsers. */
  padding-bottom: 0.7rem;
  
  p {
    margin: 0;
  }

  /* strong = bold and italic */
  strong {
    font-style: italic;
  }

  /* Links in footnotes look just like text */
  a {
    text-decoration: none;
    color: inherit;
  }
}

.readMore {
  margin-bottom: 3rem;
}
