comic-browser {
  background: var(--browser-background);
  display: grid;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  grid-template-rows: auto 1fr;
  overflow: hidden;

  .addressBar {
    align-items: center;
    color: black;
    display: grid;
    grid-template-columns: auto auto 1fr;
    padding: 0.5rem;

    .icon {
      color: #555;
      height: 1.5rem;
      width: 1.5rem;
    }

    .addressInput {
      background: #f8f8f8;
      box-sizing: border-box;
      border: 1px solid transparent;
      margin-left: 0.5rem;
      padding: 0 0.25rem;
    }
  }

  .page {
    background: white;
    color: black;
    font-size: larger;
    overflow: scroll;

    button, input, select, textarea {
      font-family: inherit;
      font-size: inherit;
    }

    &:not(:has(.screenshot)) {
      padding: 1rem;
    }
    
    .screenshot {
      max-width: 100%;
    }

    :first-child:is(p, h1, h2, h3) {
      margin-top: 0;
    }
  }
}
