comic-bubble {
  --bubble-border-color: black;
  --bubble-border-width: 2px;
  align-items: center;
  background: white;
  border: var(--bubble-border-width) solid var(--bubble-border-color);
  border-radius: 0.5rem;
  display: flex;
  position: relative;

  .tail {
    aspect-ratio: 1;
    background: white;
    border: var(--bubble-border-width) solid var(--bubble-border-color);
    box-sizing: border-box;
    height: 15px;
    left: var(--left-tail-shift);
    position: absolute;
    transform: rotate(45deg);
    right: var(--right-tail-shift);
    width: 15px;
  }

  .speech {
    background: white;
    border-radius: 0.5rem;
    box-sizing: content-box; /* Simplifies auto fit */
    /* Padding varies when we're capturing images, see panel.css */
    padding-left: var(--speech-padding, 0.5rem);
    padding-right: var(--speech-padding, 0.5rem);
    text-wrap: balance;
    z-index: 1;
  }
}

.js-loading comic-bubble {
  visibility: hidden;
}
