comic-editor {
  background: var(--terminal-background);
  color: var(--editor-color);
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;

  .tabBar {
    background: var(--editor-background);
    padding: var(--window-padding);
    padding-bottom: 0;
    
    .tab {
      background: var(--terminal-background);
      color: #FAC863;
      display: inline-block;
      padding: 0.5rem 1rem;
    } 
  }

  .editor {
    font-family: var(--editor-font-family);
    overflow: scroll;
    padding: var(--window-padding);

    pre {
      font-family: inherit;
      margin: 0;
    }

    /* mdHtml injects paragraph tags when comics are embedded in markdown */
    p {
      margin: 0;
      padding: 0;
    }

    .hljs {
      background: transparent;
      padding: 0;
    }
  }

  comic-terminal {
    border-top: 1px solid color-mix(in oklch, var(--terminal-background), white 25%);
  }
}
