comic-panel {
  --border-color: #333;
  --border: 3px solid var(--border-color);
  /* Anime Ace font seems to need more padding below in Safari */
  --comic-text-padding: 0.5rem 0.5rem 0.7rem 0.6rem;
  aspect-ratio: 4 / 3;
  box-sizing: border-box;
  color: #333;
  display: grid;
  display: grid;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  grid-template-rows: auto 1fr;
  max-height: 90svh;
  max-width: 800px;
  overflow: hidden;
  position: relative;
  width: 100%;

  @media (prefers-color-scheme: dark) {
    --border-color: #666;
  }

  & > * {
    min-width: 0;
  }
  
  .faceCircle {
    aspect-ratio: 1; /* not sure why this is necessary height=width */
    background: #ccc;
    border: 2px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    height: 64px;
    width: 64px;

    .face {
      background-size: cover;
      clip-path: circle();
      height: 100%;
      width: 100%;
    }
  }

  .caption {
    align-items: center;
    display: flex;
    gap: 0.7rem;
    padding: var(--caption-padding);

    &:has(comic-bubble) {
      padding-bottom: 0.5rem;
    }
  }

  /* Alternate left/right placement of face */
  &.even {
    --left-tail-shift: -5px;
    --right-tail-shift: inherit;

    &:has(.face) {
      .caption {
        padding-right: var(--extra-caption-padding, var(--caption-padding));
      }
    }
  }

  &.odd {
    --left-tail-shift: inherit;
    --right-tail-shift: -5px;

    &:has(.face) {
      .caption {
        flex-direction: row-reverse;
        padding-left: var(--extra-caption-padding, var(--caption-padding));
      }
    }
  }

  /* Face icon present */
  &:has(.face) {
    /* Set border on panel scene */
    & > .scene {
      border: var(--border);
    }
  }

  /* No face icon present */
  &:not(:has(.face)) {
    /* Set border on panel */
    border: var(--border);

    .caption {
      background: white;
      border-bottom: var(--border);
      box-sizing: border-box;  
      padding: var(--caption-padding);

      .speech {
        padding-bottom: 0.2rem;
      }
    }

    /* Set default background color based on specific scene */
    &:has(comic-graphic) {
      background: black;
    }
    &:has(comic-browser) {
      background: var(--browser-background);
    }
    &:has(comic-editor) {
      background: var(--editor-background);
    }
    &:has(comic-terminal) {
      background: var(--editor-background);
    }
  }

  .footnoteContainer {
    bottom: 1em;
    display: flex;
    flex-direction: row-reverse;
    left: 1em;
    position: absolute;
    right: 1em;

    &.left {
      flex-direction: row;
    }
    &.right {
      flex-direction: row-reverse;
    }

    .footnote {
      background: palegoldenrod;
      border: 1px solid #ccc;
      box-shadow: 4px 4px 6px rgba(0,0,0,0.4);
      box-sizing: content-box; /* Simplifies auto fit */
      font-style: italic;
      padding: var(--comic-text-padding);
      
      p {
        text-wrap: balance;
      }
      
      &.long {
        max-width: 50%;
      }
    }
  }
}

/* On narrow screens, make the scene taller */
@container (max-width: 500px) {
  comic-panel {
    aspect-ratio: inherit;
    max-height: none;

    > .scene {
      aspect-ratio: 3/4;
    }
  }
}

/*
Captured PNGs need spacing around the caption so that the balloon and face
circle don't end up touching the edge of the image. We want the horizontal width
of the paragraph inside the speech balloon to be the same in both modes so that
text doesn't wrap differently when captured.
*/
body:not(.capture) comic-panel:has(.face) {
  /* Normal mode */

  /* Caption not inset */
  --caption-padding: 0;
  
  /* 0.5 rem extra padding of caption on side opposite face circle */
  --extra-caption-padding: 0.5rem;
  
  /* 0.25 rem extra horizontal padding inside speech balloon */
  --speech-padding: 0.75rem;
}

body.capture comic-panel:has(.face) {
  /* Capture mode */

  /* Inset caption */
  --caption-padding: 0.5rem;

  /* No extra caption padding */

  /* Remove extra padding from inside speech balloon */
  --speech-padding: 0.5rem;
}

.js-loading .footnote {
  visibility: hidden;
}
