comic-split {
  --pane-border: 1px solid color-mix(in oklch, var(--terminal-background), white 25%);
  background: var(--terminal-background);
  color: var(--editor-color);
  display: grid;
  overflow: hidden;

  &.horizontal {
    grid-auto-flow: row;
  }
  &.vertical {
    grid-auto-flow: column;
  }

  pre {
    margin: 0;
  }
  
  &.horizontal > *:not(:first-child) {
    border-top: var(--pane-border);
  }
  &.vertical > *:not(:first-child) {
    border-left: var(--pane-border);
  }
}

/* On narrow screens, vertical splits become horizontal ones */
@container (max-width: 500px) {
  comic-split {
    &.vertical {
      grid-auto-flow: row;

      & > *:not(:first-child) {
        border-left: none;
        border-top: var(--pane-border);
      }
    }
  }
}
