comic-split {
  background: var(--terminal-background);
  color: var(--editor-color);
  display: grid;
  grid-template-rows: auto;
  overflow: hidden;

  > * {
    overflow: hidden;
  }

  pre {
    margin: 0;
    overflow: hidden;
  }
  
  > *:not(:first-child) {
    border-top: 1px solid color-mix(in oklch, var(--terminal-background), white 25%);
  }
}
