screencast-panel {
  --border: 3px solid #333;
  /* Anime Ace font seems to need more padding below in Safari */
  --text-padding: 0.5rem 0.5rem 0.7rem 0.6rem;
  aspect-ratio: 4 / 3;
  border: var(--border);
  box-sizing: border-box;
  color: #333;
  display: grid;
  display: grid;
  grid-template-rows: auto 1fr;
  max-height: 90svh;
  max-width: 800px;
  overflow: hidden;
  position: relative;
  /* scroll-snap-align: center; */
  width: 100%;

  @media (prefers-color-scheme: dark) {
    --border: 3px solid #666;
  }

  & > * {
    min-width: 0;
  }

  p {
    margin: 0;
    width: 100%;
  }
  
  .iconContainer {
    aspect-ratio: 1; /* not sure why this is necessary height=width */
    background: white;
    border: 2px solid black;
    border-radius: 50%;
    clip-path: circle();
    height: 64px;
    width: 64px;

    .icon {
      position: relative;
      
      /* Adjustments for specific SVG positions */
      &[src*="alice"] {
        left: -7px;
        top: 5px;
        width: 84px;
      }

      &[src*="bob"] {
        top: 6px;
        left: -11px;
        width: 88px;
      }
    }
  }

  .caption,
  .footnote {
    font-family: "Anime Ace 3", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.1;
  }

  .caption {
    align-items: center;
    display: flex;
    gap: 0.7rem;
    padding: 0.5rem 0.5rem;

    /* strong = bold and italic */
    strong {
      font-style: italic;
    }

    /* If icon is present, show text in speech balloon */
    &:has(.icon) {
      .bubble {
        --bubble-border-color: black;
        --bubble-border-width: 2px;
        align-items: center;
        background: white;
        border: var(--bubble-border-width) solid var(--bubble-border-color);
        border-radius: 0.5rem;
        display: flex;
        position: relative;
      }

      .tail {
        --tail-shift: -5px;
        aspect-ratio: 1;
        background: white;
        border: var(--bubble-border-width) solid var(--bubble-border-color);
        box-sizing: border-box;
        height: 15px;
        position: absolute;
        transform: rotate(45deg);
        width: 15px;
      }

      .speech {
        background: white;
        border-radius: 0.5rem;
        padding: var(--text-padding);
        z-index: 1;
      }
    }

    &:not(:has(.icon)) {
      background: white;
      border-bottom: var(--border);
      box-sizing: border-box;  

      .speech {
        padding-bottom: 0.2rem;
      }
    }
  }

  &:has(.icon) .caption {
    .tail {
      left: var(--tail-shift);
    }
  }

  /* Speech orientation for first speaker */
  /* &[data-speaker="Alice"]:has(.icon) .caption {
    .tail {
      left: var(--tail-shift);
    }
  } */

  /* Icon/caption are flipped for second speaker */
  /* &[data-speaker="Bob"]:has(.icon) .caption {
    flex-direction: row-reverse;

    .tail {
      right: var(--tail-shift);
    }
  } */

  .footnote {
    bottom: 0.5em;
    display: flex;
    flex-direction: row-reverse;
    font-style: italic;
    left: 0.5em;
    position: absolute;
    right: 0.5em;
    
    p {
      background: palegoldenrod;
      padding: var(--text-padding);
      text-wrap: balance;
    }
    
    &.long p {
      min-width: 275px;
      width: min-content;
    }

    &.short p {
      width: fit-content;
    }
  }

  &:has(.footnote) + &:has(.footnote):nth-of-type(odd) {
    .footnote {
      /* Vary alignment to relieve monotony */
      flex-direction: row;
    }
  }

  /* Set default background color based on specific scene */
  &:has(.icon) {
    &:has(screencast-graphic) {
      background: black;
    }
    &:has(screencast-browser) {
      background: var(--browser-background);
    }
    &:has(screencast-editor) {
      background: var(--editor-background);
    }
    &:has(screencast-terminal) {
      background: var(--editor-background);
    }
  }
}

/* On narrow screens, use a taller aspect ratio */
@container (max-width: 500px) {
  screencast-panel {
    .panel {
      aspect-ratio: 0.66;
    }
  }  
}
