---
// A comic strip page
(comic, key, comics) => src/templates/page.ori({
  area: "comics"
  areaLinks: src/areas.yaml/
  icon: src/js/chooseIcon.js(key, src/client/assets/origami)
  pageLinks: src/js/markCurrent.js(content/pages.yaml, `/comics/${ key }.html`)
  supertitle: "Origami comics"
  title: comic.title
  _body: _template()
})
---
<link rel="stylesheet" href="/styles/comic.css">
<script type="module" src="/scripts/comic.js"></script>
${ strip.ori.html(comic, key, comics) }
<p>
  ${ comic.previousKey
      ? Tree.indent`
        <a class="previous" href="${ comic.previousKey }.html">Previous: ${ comics[comic.previousKey].title }</a>
        &nbsp;
      `
      : ""
  }
  <a href="/comics">Index</a>
  ${ comic.nextKey
      ? Tree.indent`
        &nbsp;
        <a class="next" href="${ comic.nextKey }.html">Next: ${ comics[comic.nextKey].title }</a>
      `
      : ""
  }
</p>
