---
// A single comic page
(comics) => src/templates/page.ori({
  area: "comics"
  areaLinks: src/areas.yaml/
  icon: src/js/chooseIcon.js("comics/index.html", src/client/assets/origami)
  pageLinks: src/js/markCurrent.js(content/pages.yaml, "/comics/")
  title: "Origami comics"
  _body: _template()
})
---

<link rel="stylesheet" href="/styles/comic.css">
<style>
.comicLink {
  --left-tail-shift: -5px;
  --right-tail-shift: inherit;
  color: inherit;
  display: flex;
  margin-top: 2rem;
  text-decoration: none;

  &:nth-child(even) {
    --left-tail-shift: inherit;
    --right-tail-shift: -5px;
    flex-direction: row-reverse;
  }
}
</style>
<script type="module" src="/scripts/comic.js"></script>

<p>
  These comics illustrate the use and features of Origami as a complement to
  the primary documentation.
</p>
<p>
  Click a speech balloon to view the full comic.
</p>

${ Tree.map(comics, (comic, key) => Tree.indent`
  <a class="comicLink" href="/comics/${ Origami.slash.remove(key) }.html">
    ${ bubble.ori.html(Origami.mdHtml(comic.panels[0].text + "…")) }
  </a>
`) }
