---
// A single comic page
(comics) => src/templates/page.ori({
  area: "home"
  areaLinks: src/areas.yaml/
  icon: src/js/chooseIcon.js("comics/index.html", src/client/assets/origami)
  pageLinks: src/js/markCurrent.js(content/pages.yaml, "/comics/")
  title: "Origami comics"
  _body: _template()
})
---

<p>
  These comics illustrate the use and features of Origami as a complement to
  the primary documentation. Where possible, Origami code used in the comics
  is verified in the latest version of Origami.
</p>

<ul>
${ Tree.map(comics, (comic, key) => Tree.indent`
  <li>
    <a href="/comics/${ Origami.slash.remove(key) }.html">${ comic.title }</a>
  </li>
`) }
</ul>
